<%
@title_for_layout = "Confirm order"
@body_id = "confirm_order"
%>

<h1><%= t("confirm") %></h1>
<div class="highlight">
  <%= raw t("order_not_yet_placed") %>
</div>

<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<div class="button_alignment">
  <input type="image" src="/images/confirm_order_btn.png" />
</div>
